.header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.header__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2em;
}

.header__h1 {
  font-size: 6.5rem;
  width: 100%;
  font-weight: var(--textBold);
  text-align: center;
}

.header__h1--span1 {
  color: var(--textLogoLet)
}

.header__h1--span2 {
  color: var(--textLogoOne)
}

.header__h2 {
  margin-top: -0.5em;
  font-size: 1.9rem;
  width: 100%;
  color: var(--text);
  text-align: center;
}

.header__buttons {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.header__button {
  border: none;
  padding: 0.8em 1.5em;
  border-radius: 20px;
  font-weight: var(--textBold);
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 0 10px var(--accentButton);
}

.header__msg__container {
  position: relative;
  display: flex;
  align-items: center;
  height: 5rem;
  width: 100%;
  overflow: hidden;
}

.header__msg {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 1.7rem;
  font-weight: var(--textMedium);
  color: var(--textLogoOne);

}

/*********** Media Query ***********/

@media (max-width:950px) {
  .header {
    flex-direction: column;
  }

  .header__h1 {
    font-size: 4.3rem !important;
    text-align: center;
  }

  .header__h2 {
    font-size: 1.3rem !important;
    text-align: center;
  }

  .header__buttons {
    flex-direction: column;
    align-items: center;
  }

  .header__msg__container {
    width: 80%;
  }

  .header__msg {
    font-size: 1.3rem !important;
  }

}

@media (max-width: 950px) and (orientation: landscape) {
  .header__div {
    margin-bottom: 0em;
  }

  .header__msg__container {
    height: 3rem;
  }
}