.philosophy {
  position: relative;
  width: 100%;
  padding: 0em 10em 0em 10em;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 4em;
  overflow: hidden;
  --borderAgle: 0.5em solid var(--textLogoOne);
}

.philosophy__h2 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10rem;
  filter: opacity(0.06);
  text-align: center;
  width: 100%;
}

.philosophy__texts {
  width: 40vw;
  z-index: 2;
}

.philosophy__h3 {
  text-align: right;
  margin-bottom: 0.2em;
  font-size: 3rem;
}

.philosophy__p {
  text-align: right;
  line-height: 1.5;
  font-size: 1.2rem;
}

.philosophy__animation {
  height: 8em;
  width: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em;
  position: relative;
}

.philosophy__animation__angle {
  width: 50%;
  height: 8em;
  position: absolute;
  background-color: transparent;
}


.philosophy__angle--left {
  left: 0%;
  border-left: var(--borderAgle);
  border-top: var(--borderAgle);
  border-bottom: var(--borderAgle);
  border-right: 0;
  border-radius: 20px 0px 0px 20px;
}

.philosophy__angle--right {
  right: 0%;
  border-left: 0;
  border-top: var(--borderAgle);
  border-bottom: var(--borderAgle);
  border-right: var(--borderAgle);
  border-radius: 0px 20px 20px 0px;
}

.philosophy__ico {
  font-size: 6rem;
}

.philosophy__ico__text {
  position: absolute;
  bottom: -35%;
  font-size: 1.2rem;
  font-weight: var(--textBold);
}

.philosophy__animation__img {
  width: 30em;
  height: auto;
  position: absolute;
  bottom: -0.7%;
  left: -7%;
  z-index: 1;
}


/*********** Media Query ***********/

@media (max-width:950px) {

  .philosophy {
    flex-direction: column;
    justify-content: center;
    padding: 0em;
  }

  .philosophy__h2 {
    font-size: 4rem;
  }

  .philosophy__texts {
    width: 90vw;
    z-index: 2;
    padding-bottom: 15em;
  }

  .philosophy__h3 {
    text-align: center;
    margin-bottom: 0.2em;
    font-size: 2.5rem;
  }

  .philosophy__p {
    text-align: center;
  }

  .philosophy__animation__img {
    width: 25em;
    left: -45vw;
  }

  .philosophy__animation {
    position: absolute;
    right: 12%;
    bottom: 10%;
  }

}

@media (max-width: 950px) and (orientation: landscape) {

  .philosophy {
    padding: 0em 2em 0em 2em;
  }

  .philosophy__texts {
    width: 40vw;
    padding-bottom: 0em;
  }

  .philosophy__h3 {
    text-align: right;
  }

  .philosophy__p {
    text-align: right;
  }

  .philosophy__animation {
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
  }

  .philosophy__animation__img {
    width: 20em;
    left: -7%;
  }

  .philosophy__h2 {
    font-size: 10rem;
  }


}