.projects {
  width: 100%;
  padding: 0em 5em 0em 5em;
  background-color: var(--bgMain);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}


.projects__h2 {
  text-align: center;
  width: 100%;
  font-size: 10rem;
  filter: opacity(0.06);
  position: absolute;
  top: 0%;
  right: -15%;
}


/*********** Media Query ***********/

@media (max-width:950px) {

  .projects {
    padding: 6em 0em 0em 0em;
    justify-content: flex-start;
  }

}