.solutions {
  position: relative;
  width: 100%;
  padding: 0em 5em 0em 5em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
  background-color: var(--bg);
  overflow: hidden;
}

.solutions__h2 {
  text-align: center;
  width: 100%;
  font-size: 10rem;
  filter: opacity(0.06);
  position: absolute;
  top: 0%;
  left: -15%;
}

.solutions__article {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 2
}

.solutions__article__ul {
  width: 30%;
}

.solutions__article__ul__btn {
  font-size: 1rem;
  font-weight: var(--textMedium);
  text-align: left;
  padding: 0.3em 0em 0.3em 1em;
  border-radius: 20px 0px 0px 20px;
  width: 13em;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  color: var(--text);
}

.solutions__article__ul__btn--active {
  background-color: var(--bgSecondary);
  color: var(--text);
  font-weight: var(--textBold);
}

.solutions__article__ul__btn:hover {
  background-color: var(--bgOpposite);
  color: var(--textOpposite);
  font-weight: var(--textBold);
}

.solutions__imgDiv {
  position: absolute;
  background-color: transparent;
  height: 100%;
  width: 50%;
  right: -10%;
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
  z-index: 1;
}

.solutions__imgDiv__img {
  height: 100%;
  width: auto;
  object-fit: cover;
  display: block;
}


/*********** Media Query ***********/


@media (max-width:950px) {

  .solutions {
    padding: 0;
  }

  .solutions__article {
    flex-direction: column;
    height: 100vh;
  }

  .solutions__article__ul {
    width: 100%;
    height: 10em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5em;
    margin-bottom: 0.5em;
  }

  .solutions__article__ul__li {
    width: 50%;
    text-align: center;
  }

  .solutions__article__ul__btn {
    text-align: center;
    padding: 0.1em 0em 0.3em 1em;
    width: 100%;
  }

  .solutions__article__ul__btn {
    text-align: center;
    padding: 0.3em 0em 0.3em 1em;
    border-radius: 20px;
    width: 10em;
  }

  .solutions__imgDiv {
    height: 100%;
    width: 100%;
    right: 0%;
    clip-path: polygon(100% 20%, 100% 0%, 100% 100%, 0% 100%);
  }

}